body {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

#navbar{
  background-image: linear-gradient(rgb(161, 161, 241), rgb(135, 135, 241), rgb(86, 86, 211), rgb(48, 48, 163));
  min-height: 15%;
  width: 100%;
  position: relative;
  color: white;
}

#sidebar{
  background-color: rgb(74, 74, 99);
  display: block;
  color: white;
  float: left;
  width: 20%;
  height: 91vh;

}

.goals-list {
  padding-left: 0;
  list-style-type: none;
}

a {
  color: rgb(166, 230, 255);
  text-decoration: none;
}

img.profile-btn {
  position: absolute;
  max-height: 100%;
  max-width: 7.5%;
  top: 0;
  right: 0;
}

.splash {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.bg {
  max-height: 100%;
  max-width: 100%;
}

div.front-page {
  top: 15%;
  left: 30%;
  height: 40%;
  width: 40%;
  position: absolute;
  z-index: 98;
  visibility: hidden;

}

div.blur-box {
  display: flex;
  flex-direction: column;
  top: 15%;
  left: 30%;
  width: 40%;
  position: absolute;
  z-index: 99;
  background-color: hsla(213, 20%, 36%, 0.7);
}

.front-page button {
  height: 100px;
  width: 250px;  
  font-size: 36px;
  margin-top: 25px;
}

h1.app-name {
  margin-top: 0;
  display: block;
  position: relative;
  z-index: 99;
  font-size: 128px;
}

div.blur-box h1{
  margin-bottom: 0;
}

form.login-form {
  font-size: 28px;
}

div.blur-box .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white;
}

div.blur-box .MuiFormLabel-root{
  color: white;
}

div.MuiInputBase-root {
  color: white;
}

div.blur-box .MuiInput-underline:before {
  border-bottom: none;
}

div.blur-box .MuiInput-underline:after {
  border-bottom: none;
}


div.blur-box .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: none;
}

.clearfix{
  content: "";
  clear: both;
  display: table;
}