body {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

#navbar{
  background-image: linear-gradient(rgb(161, 161, 241), rgb(135, 135, 241), rgb(86, 86, 211), rgb(48, 48, 163));
  min-height: 15%;
  width: 100%;
  position: relative;
  color: white;
}

#sidebar{
  background-color: rgb(74, 74, 99);
  display: block;
  color: white;
  float: left;
  width: 20%;
  height: 91vh;

}

.goals-list {
  padding-left: 0;
  list-style-type: none;
}

h1 {
  margin: 0 0 0 0;
  font-size: 48px;
}

img.profile-btn {
  position: absolute;
  max-height: 100%;
  max-width: 7.5%;
  top: 0;
  right: 0;
}

.splash {
  position: relative;
  color: white;
}

.bg {
  max-height: 100%;
  max-width: 100%;
}

.textarea {
  width: 200px;
  height:200px;
}

div.blur-box {
  top: 25%;
  left: 30%;
  height: 40%;
  width: 40%;
  position: absolute;
  z-index: 99;
  background-color: hsla(213, 20%, 36%, 0.7);
  /* background-image: linear-gradient(hsla(213, 20%, 36%, 0.5), hsla(212, 22%, 13%, 0.5)); */
}

form.login-form {
  font-size: 28px;
}

.clearfix{
  content: "";
  clear: both;
  display: table;
}